- if @networks[:facebook].blank?
  %a{:id => 'facebook-auth-button', :href => '#facebook-auth'}
    %input.left{:id => 'toggle-facebook', :value => '', :type => 'submit'}
  %div{:style => 'display:none;'}
    #facebook-auth
      - if defined? oops and oops == false
        Just this once you'll need to
      - else
        Oops, just this once you'll need to
      %a{:href => facebook_auth_url}
        %span.prepend-top#sign-in-facebook
  :javascript
    $(function() { $('#facebook-auth-button').fancybox(); });
- else
  %input.left{:id => 'toggle-facebook', :value => '', :type => 'submit'}
  :javascript
    $(function() { enableNetworkButton('#toggle-facebook', true); });
    $(function() { bindNetworkToggleButton('#toggle-facebook', '#mashout-network-facebook'); });

