%input{:id => 'mashout-network-twitter', :name => 'mashout-network-twitter', :value => @networks[:twitter].present? ? 'true' : 'false', :type => 'hidden'}
%input{:id => 'mashout-network-facebook', :name => 'mashout-network-facebook', :value => @networks[:facebook].present? ? 'true' : 'false', :type => 'hidden'}
%input{:id => 'mashout-network-youtube', :name => 'mashout-network-youtube', :value => @networks[:youtube].present? ? 'true' : 'false', :type => 'hidden'}
