- content_for :title do
  .prepend-top
    .left
      %h2.inset-type Sorry, but there was a problem

- content_for :content_body do
  .span-23.box
    .entry
      %p
        We are unable to authenticate you, please try again.
