input[type="submit"],
input.button {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    padding-left: 0 !important;
    padding-right: 0 !important; }

h3.list-item {
    margin-left: -10px; }

#content-wrapper #sidebar #ready-to-mashout #quote .body .box {
    width: 267px;}

#content-wrapper.span-all #dropdown-buttons {
    margin-top: 10px;
    padding-bottom: 15px; }

#content-wrapper.span-all #dropdown-buttons .button,
#content-wrapper.span-all #tools .button {
    padding-left: 5px !important;
    padding-right: 5px !important; }

#content-wrapper.span-all #tools .button span {
    line-height: 2em; }


#footer #blog-twitter #twitter {
    margin-bottom: 40px; }

.number {
    line-height: 0.8em; }

#header #navigation-social #h-navigation ul{
    min-width: 460px;
    right: -23px;
    margin-left: -10px; }

#content-wrapper.span-all #video-library #videos ul {
    min-height: 443px; }

#content-wrapper.span-all #extra-info {
    background: none; }

#content-wrapper.span-all #besties,
#content-wrapper.span-all #video-library,
#content-wrapper.span-all #interactions {
    min-height: 625px; }

