- content_for :optional_meta_title do
  %title About Mashoutable | Mashoutable.com

- content_for :optional_meta do
  %meta{:name => 'keywords', :content=> 'About Mashoutable'}
  %meta{:name => 'description', :content => 'Learn more about Mashoutable.com.'}

- content_for :title do
  .prepend-top
    .left
      %h1.inset-type About Us

- content_for :content_body do
  .left.box
    %p
      We have effectively turned what is usually 15 minutes of work into 3 to 4 clicks!

    %p
      What's the catch right? No catch, no strings attached. We just want to make social media more manageable for the non-robot folks out there who are really putting their own time, life, and personality into their efforts.

    %p
      This shoutout generator will have you engaged and interacting with fabulous new Tweeps, or people, in no time at all. In fact, our secret is the little method in how our
      %a{:href => root_url, :title => "Mashoutable's social media services"} social media services
      process and utilize the custom algorithm to ensure that you are going to be getting more return for your time spent.

    %p
      Know that we are already aggressively injecting advancements based on the new and newly organized data from the most recent Twitter changes, and we already have future development rollout plans for additional social media networks including Facebook and YouTube.

    %hr/
    %p
      How did
      %strong Mashoutable
      come to be? After first a good bit of time spent on MySpace and Facebook, and then becoming totally hooked on Twitter, we began to feel the pangs of juggling how much time we have to spend on social media verses what needed done verses what we wanted to do.

    %p
      Personally, we value and feel it is important to give our time, energy, and love to our online social media networks. We struggled with what was available, what wasn't, what we could do, and what we couldn't do; because of that struggle, the idea of Mashoutable was born.

    %p
      To "Mashout" simply means to #shoutout about a top social media trend or something you love. Our list is dynamic, so as the top social media trend changes, so do our lists and the way our
      %a{:href => root_url, :title => 'More about social media tools'} social media tools
      functions on the back end. You use the same social media tools day after day, week after week, and we tweak how they are functioning on the back end so that they are giving you the biggest return.

    %p
      The "OUT" that is referred to in many of our social media services is referring to getting "it" OUT there, whatever you need to say and when you need to say it, at the moment it is still within you.  Every idea, thought, desire, etc. Using our various social media tools can even
      %a{:href => root_url, :title => 'Increase twitter followers with Mashoutable'} increase your Twitter followers".

    %hr/

    %p
      %strong WHO SHOULD/COULD USE THIS TOOL:
    %p
      %em "Social media development and leveraging top trends is no phenomenon, it's no fad, it's effective that's why we do it..."

    %p
      Life moves fast and technology moves faster.  Many aspects of social media are new, innovative and even a little scary to think about how to get started.  This daunting task doesn’t have to be your burden; we know what you what you need to stay connected and to interact and excite your clientele, friends and followers.
      %a{:href => root_url, :title => 'More about social media tools'} Social media tools
      are the "It" factor that everyone needs to be on top of the new style of industry. Having a firm grasp of social media is crucial to being technologically connected and fully integrated into what is trending now business world. Check out how social media tools can help the following groups of people, from Power Users to Newbie's and everyone in between.

    %p
      %strong Power User:
      Top trends aren't new to you, but having them all housed in one of the best
      %a{:href => root_url, :title => 'More about social media tools'} social media tools
      is!  Using top trends in your social media development efforts isn't new either, but using them in a single click is revolutionary.  Your skillfully crafted textual communications can only take you so far, eventually you'll have to show that pretty smile and charming personality or you'll need to bring your product and/or service to life and move beyond the stage of simply talking about it.  Thanks to Mashoutable, you can now use one of the best social media development tools ever brought to life, and leverage the power of video with the speed and productivity levels of automation. Mashoutable's #Video BLASTOUT tool is your saving grace if you are looking to send your video to dozens even hundreds of people at a time. Plus, #Video BLASTOUT and #Top Trend SHOUTOUT is all fully optimized and it leverages the most up to date trend data streamed dynamically from the Internet directly into your tool options. #PowerUserBliss!

    %p
      %strong Celebrity/Big Brands:
      Quickly tweet at a top trend with no typing required.  Show your fans you're in-tune, up-to-date, and on top of things by adding any of the top trends from your Country, State, City, Genre, Category, etc. Now you're just a click away from unquestionable quality interaction and communication with your fans. We make it all simple for you set your target with @Mentions, #RT's, #Shoutouts received, Followers or Fans. Simply click Construct and our
      %a{:href => root_url, :title => "Mashoutable's social media services"} social media services
      will add top-trend relevance and keyword richness. Plus, we'll attach #Video BLASTOUT, which will help views to find your videos quicker and you'll be back in the spot light with your double headed sword of trends!

    %p
      %strong Newbie:
      "Help! What the heck do I do with this top trend data?" Don't worry! We can help. First of all, the fact that you are new to this whole social media game likely means that you also could use a greater following and you could certainly
      %a{:href => root_url, :title => 'Increase twitter followers with Mashoutable'} increase Twitter followers
      , Facebook Fans, YouTube views, etc. What better way than to know what is trending and what is popular within your industry, field or category? Click Construct is our one-stop process to ensure automation levels of productivity while maintaining individuality and leveraging the most up to date trends.  Or you can #Introduce yourself to the world with a quick #Video BLASTOUT and increase your followers with a #Top Trend SHOUTOUT  Let's save you a bunch of time and just get to the exciting and easy part - YOU!  Click Record to record your video, then Click Construct and you will be on your way to social media professionalism with one of our best and award-worthy social media tools ever!

    %p
      %strong ANYONE:
      The web is a rich and potent source of information being both provided and consumed.  With ALL of the content, subjects, niches, genres, categories, demographics, etc., trying to swim the web and stay up-to-date on what's trending and when it is trending can seem an impossible task; we’ve taken the time to consolidate all of this data, and then dynamically update the data live as it's provided to you.  The best social media tools for developing your image, brand, product, service, personality, etc. are now at your fingertips, for FREE.  #Top Trend SHOUTOUT NOW!  "Click Construct" for automation levels of productivity, using our proprietary algorithmic targeting process, combined with the potency and realness of video, targeted at top trends. You can create, save and share with no uploading, along with the stickiness of attaching and embedding anywhere, enhanced by the short sweetness of 60 seconds. The possibilities of what you can do are endless.

    %p
      If you have any questions about our various social media tools and how to increase your twitter followers,
      %a{:href => contact_us_url, :title => 'Contact us'} contact us
      for more information.

    %hr/

    %p
      We hope you find our social media tools greatly valuable and welcome all types of communications, be it advice, comments, complaints, requests or simply thanks!
    %p
      Cheers, and Potent Gratitude for now,
    %p
      Mashoutable.com™ a Delaware Corporation
      %br/
      %br/
      %a.twitter-follow-button{"data-show-count" => "true", :href => "https://twitter.com/gratefulenergy"} Follow @gratefulentery
      :javascript
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    %span.AboutText (@GratefulEnergy - One of Mashoutable's founders on Twitter)
    %p
    %p
      The "Mashoutable" mark is associated with proprietary rights around
      services associated with computer, software and scientific services.
      %br/

