- content_for :optional_meta_title do
  %title Video BLASTOUT | Social Media Video Tools | Mashoutable.com

- content_for :optional_meta do
  %meta{:name => 'keywords', :content=> 'Video BLASTOUT'}
  %meta{:name => 'description', :content => 'Increase your visibility with social media video tools such as the Video BLASTOUT tool from Mashoutable.com.'}

- content_for :title do
  .prepend-top
    .left
      %h1.inset-type
        %span.blue #Video
        BLASTOUT&trade;

- content_for :content_body do
  .left.box
    %p
      Social Media Bliss in 0 - 60 Seconds!
    %p
      We're putting the "media" back into "social media" with our Video BLASTOUT.  Just as video killed the radio star, now the "Video Shoutout" or more diversely put "<strong>Video BLASTOUT</strong>" stands a chance to put a serious hurting on textually-based social media tools and their development efforts.
    %p
      When your favorite TV network turns to social media to acknowledge a communication which is relevant to a top trend being discussed, will they now just read and potentially repost a tweet or will they view and televise your #Video BLASTOUT?!?
    %p
      %strong ABOUT VIDEO BLASTOUT
    %p
      With YouTube and various video sharing platforms as well as video watching mediums available, videos on the Internet is nothing new. Mashoutable™ has taken these two concepts and mixed them together to invent a new niche we call the #Video BLASTOUT. This is, at maximum, a 60-second video that can be blasted out to your social media platforms for your friends, followers and the Internet to see.  Simply hit the record button and the video content is streaming live and being captured in the Mashoutable™ Cloud for you to attach with our pre-shortened URL to your tweets, Facebook posts and other social networks
    %p
      This should be the best
      %strong social media video tool
      for enhancing social media development and to
      = succeed "." do
        %a{:href => root_url, :title => 'Increase twitter followers with Mashoutable'}
        increase Twitter followers
      It still follows the short and sweet aspects of micro-blogging with its maximum 60-second capture time, while rivaling Facebook with its technological advancements of live video streaming and capture. This tool also utilizes the sticky ability and viral potential of YouTube, enabling you to post or embed videos anywhere you choose. Video BLASTOUT is not the only social media tool that we provide at Mashoutable, we also provide a variety of social media services and tools such as
      %a{:href => mashout_url, :title => 'Targeted mashout'} Targeted MASHOUT
      and
      %a{:href => shoutout_url, :title => 'Top trend shoutout'} Top Trend SHOUTOUT.
      %a{:href => contact_us_url, :title => 'Contact us'} Contact us
      for more information about which social media tool would be benefit you.
    %p
      %strong WHO SHOULD/COULD USE VIDEO BLASTOUT
    %p
      %em "Social media development is screaming for a depth and richness which only video, with its unrivaled levels of intimacy, could provide."
    %p
      %strong Power User:
      Your skillfully crafted textual communications can only take you so far. Eventually, you'll need to bring your product/service to life and move beyond the "talk about it" stage. Now, you may use one of the best social media development tools ever brought to life, and leverage the power of video with the speed and productivity levels of "automation" - Mashoutable™ video blastout tool is your saving grace.   - #PowerUserBliss!
    %p
      %strong Celebrity/Big Brands:
      With a few exceptions, you're likely a "celeb" or "famous" not for your writing, but for who you are and how you are who you are, right?  Capitalize on that asset the best way you know how - #Video!  We make it all simple for you... set your target (@Mentions, #RT's, #Shoutouts received, Follower/Fans), click construct to add top-trend relevance and keyword richness. We'll attach #Video BLASTOUT and you're back in the spotlight!
    %p
      %strong Newbie:
      Don't know where to start? Introduce yourself to the world with a quick #Video BLASTOUT!  It can be a daunting and time consuming task to record, locate, upload, etc. Let's save you a bunch of time and just get to the exciting and easy part - YOU! Click record, then "Click Construct" yourself the rest of the way to social media professionalism with one of our best and award-worthy social media tools ever!
    %p
      %strong ANYONE:
      Leveraging the ability to "Click Construct" for automation levels of productivity, using our proprietary algorithmic targeting process combined with the potency and realness of video, the ability to create/save/share with no uploading, enhanced by the short sweetness of 60-second communication - the possibilities are nearly endless.

