- content_for :title do
  .prepend-top
    .left
      %h1.inset-type Blog

- content_for :content_body do
  .left.box.blog
    .entry
      %h2#post-2 The Tweople Target
      %p Posted on April 25, 2012 in Twitter, Tweet, Social Media Developement, Social Media Management, Targeted Content, Targeted Tweets

      %p
        The “Tweople” target at Mashoutable.com is a little gem in itself. Algorithmic process here behind the scenes, ensures a couple of things for you, first, ALL these folks have Tweeted inside the last 4 minutes, second, you can filter these for “Web Only”.

      %p
        Why are these two things of importance? First of all, Twitter does NOT tell us, who is online right now… so the fact that the only users we’ll return as potential targets to you, are users who have literally just tweeted. We’re all about instant gratification, right? So if I’m going to engage someone new, meaning there is no current follow/following at all here, (Another detail Mashoutable™ optimizes for you  I’d like to use my time wisely by ensuring they’re still online.

      %p
        Next, as we said above,
        %a{:href => root_url, :title => 'Mashoutable.com'} Mashoutable™
        is also giving you the ability to filter these “Tweople” for “Web Only”. What does this mean? Well, alot of API’s (Apps that can post to Twitter for a user, like Mashoutable™) offer automation. We feel so strongly that Social Media is about “Socializing with Media” that we are strongly against automation in content. So, if a user is posting from an API that offers a user the ability to “Schedule” a tweet, we have no idea then, if this person was really there, or if it was an automated posting, response, etc.

      %img{:src => asset_path('blog/tweople-target-screen-shot.png'), :alt => 'Tweople Target Image'}
      %p Tweople Target

      %img{:src => asset_path('blog/tweople-target-screen-shot.png'), :alt => 'Selected Tweople Target Image'}
      %p Selected a Tweople Target!

      %p
        Now you know what the new “Tweople” target is for.  We’re hoping that you find it as valuable as we do. Finding NEW Tweeps couldn’t be easier.

    .entry
      %h2#post-1 Mashoutable&trade; Social Media!
      %p Posted on September 5, 2011 in Uncategorized

      %p
        The Mashoutable&trade; Blog is where you’ll find good sources of information on how to be awesome in the Social Web, which we’ll tweet to you at
        %a{:title => "Mashoutable™ Twitter Account", :href => "http://Twitter.com/Mashoutable", :target => "_blank"} Twitter.com/Mashoutable
        as well.

      %p
        There’ll be tips, tricks, attempts, and try[out]‘s!  Get involved if you know some stuff too, we’d all enjoy a new perspective or innovation that helps make the Social Web easier.  Talk to you soon!

