- content_for :optional_meta_title do
  %title Targeted MASHOUT | Targeted Tweets | Mashoutable.com

- content_for :optional_meta do
  %meta{:name => 'keywords', :content=> 'Targeted Mashout'}
  %meta{:name => 'description', :content => 'Reach your target audience with Targeted Tweets through the Targeted MASHOUT social media tool from Mashoutable.com.'}

- content_for :title do
  .prepend-top
    .left
      %h1.inset-type
        %span.orange #Targeted
        MASHOUT&trade;

- content_for :content_body do
  .left.box
    %p
      Mashoutable's social media tools and social media services are some of the best tools for social media development available. No more creating lists to use for <strong>targeted tweets</strong>, simply "Set Target" (i.e. Followers, Fans, Celebs, I follow, Friends, @Mentions, #Shoutouts, #RT's), "Click Construct" and #MASHOUT those #Targeted tweets!
    %p
      %strong ABOUT TARGETED MASHOUT & TARGETED TWEETS

    %p
      Sending social media posts and targeted tweets takes more time than most are willing to give. In addition to the time and frustration of selecting WHO to give attention to, choosing fairly or even making sure it is the type of target you're after. You can see how quickly this turns into a 15+ minute task. Mashoutable™ is here to help your social media development and to rapidly
      = succeed "." do
        %a{:href => root_url, :title => 'Increase twitter followers with Mashoutable'} Increase Twitter Followers
      Now you may easily #MASHOUT your #Shoutouts, @Mention/#RT replies, hit up your "Besties," show love to your Fans/Followers or hit up a single niche of your celeb friends in less than a minute, and with only 3 to 4 clicks.
    %p
      %strong WHO SHOULD/COULD USE TARGETED MASHOUT & TARGETED TWEETS
    %p
      %em Let's face it; social media is becoming more and more automated.
      %strong Targeted MASHOUT
      is just one way that Mashoutable can provide you with the social media tools you need to reach a variety of audiences regardless of your level of previous social media interaction. Check out the following break downs for your level of social interaction and how Mashoutable's targeted tweets can help you.
    %p
      %strong If you are a Newbie
      Social media development, best
      = succeed "," do
        %strong social media tools
      = succeed "..." do
        %strong increase Twitter followers
      have we lost you yet?  Don't worry, Mashoutable™ will give you the peace of mind you need to build strong social media interaction, followers, and posting history. Jump in! In no time at all you will be mashing out the most effective social media and harvesting all of the fruits that come along with a stronger social presence. We ensure all that you do is done optimally and professionally.
    %p
      %strong Celebrity/Big Brands:
      How do we choose who to just say hi too, simply because they've shown us the love and appreciation of following us?  MASHOUTABLE™!  We're absolutely the BEST SOCIAL MEDIA TOOLS to make the Celeb/Big Brands lives easier, without sacrificing quality interaction and engagement.  Set your target to "Follower Tweeps" (This is going to allow you to click construct a message using ONLY your followers/fans as the target), it selects at random so their is no guilt that you didn't go deep enough, or ignored this one, etc. etc..  We make it easy for you're @Mention, #RT, and #Shoutouts to be replied to as well, just choose them as a target, and we go in and grab those user name for your communication.
    %p
      %strong If you are an Average Joe or Jane
      Play around with the social media tools available from Mashoutable. The more you use them, the more you'll realize how amazing they truly are for both reclaiming immense portions of time to allocate as you choose and obtaining instant gratification in the realm of social media development.  Our tools can find users who not only just tweeted, but we are also currently ignoring API's for this tool so you have peace of mind.  That's right, this tool is the very first which is literally geared to help you
      %strong increase Twitter followers
      by finding those who not only recently tweeted, but tweeted from the Web, specifically.
    %p
      %strong
      If you are a Power User With Targeted MASHOUT, you don't have to lose your productivity automation levels, and you now have the opportunity for the real-time application of personality and individuality. We do all of the algorithmic selection and thinking in order to optimize every detail of operation so you don't have to.  With Mashoutable™'s social media tools, you can maintain your current level of productivity, get more, do less, and get it all sooner!  - #PowerUserBliss!
    %p
      Using the Mashoutable social media tools, set your Targeted MASHOUT tweets to "Follower Tweeps." This is going to allow you to construct a message using ONLY your followers and fans as the target.  We make it easy for your @Mention, #RT, and #Shoutouts to be replied to as well. Just choose  a target and we grab those user names for your communication and future social media posts. Mashoutable also provides Video BLASTOUT and Top Trend SHOUTOUT to help spruce up your social media posts with a variety of mediums and help to reach more people quicker. Contact us with questions or concerns or to find out more about our social media tools and social media services.

