- content_for :optional_meta_title do
  %title Credible Pick Out | Social Media Selecting Tool | Mashoutable.com

- content_for :optional_meta do
  %meta{:name => 'keywords', :content=> 'Credible Pick Out'}
  %meta{:name => 'description', :content => 'Discover a social media selecting tool to help you with social media, the Credible Pick Out tool, from Mashoutable.com.'}

- content_for :title do
  .prepend-top
    .left
      %h1.inset-type
        %span.red #Credible Winner
        PICKOUT&trade;

- content_for :content_body do
  .left.box
    %p
      Contests, Giveaways, Events, Launches, Appreciation, Gratitude, Shows, Promotions, Etc. Etc... ALL great reasons to "Pickout" a special individual(s), let them "Win", "Be Chosen", "Be Acknowledged"; Avoid the accusations, allegations, love starvation, and credible guilt manifestations!
    %p
      %strong ABOUT THIS TOOL:
    %p
      This is a tool for social media development efforts which again we feel may have a grand ability to spark interaction and engagement while maintaining credibility via third party tracking and selection.  You establish the qualification parameters, we'll monitor the entirety of your social media presence online to the extent that you have connected it within Mashoutable™, and then sit back and let your Contest/Promotion/Giveaway/ExampleReason come to life without your needing to micro-manage the qualifying due-diligence efforts...
    %p
      %strong WHO SHOULD/COULD USE THIS TOOL:
    %p
      %em "With so many so loyal to us, it's difficult to choose, it really makes choosing difficult and dangerous..."
    %p
      %strong Power User:
      Increase Twitter Followers with a contest or giveaway.   Amplify your social media development efforts with a custom contest or promotion.  Let ALL of your social media following feel valuable again! - #PowerUserBliss!
    %p
      %strong Celebrity/Big Brands:
      We don't need to tell you about promoting, contests, giveaways, or events as you eat, sleep, and breathe these epic marketing efforts; Mashoutable&trade;, being the best in social media tools, certainly has an edge in providing an awesome tool such as this one.  We even go as far as generating a unique QR code for ALL created
      %strong PICKOUT's
      so that you can promote offline as well.  Drive the masses to your social media presence, while we take care of tracking who's qualified, and notifying the winner of such.  Send them from your QR code to your customized Mashoutable&trade; landing page for your contest, or to any URL of your choice.
    %p
      %strong Newbie:
      Another phenomenal and nichey little tool to help your social media development efforts.  You could come up with ways to increase twitter followers, gain exposure, enhance loyalty and engagement, enhance your offline marketing efforts with this incentive/enticement.
    %p
      %strong ANYONE:
      We give you a custom URL, Landing Page, QR Code, Track analytics to create qualified selection pool, scheduled selection, count-down, automated winner/selection notification, and verification of credible/integral selection.

