- content_for :optional_meta_title do
  %title Top Trend SHOUTOUT | Target Tweeting | Mashoutable.com

- content_for :optional_meta do
  %meta{:name => 'keywords', :content=> 'Top Trend SHOUTOUT'}
  %meta{:name => 'description', :content => "Increase your twitter followers with the help of Mashoutable.com's new Target Tweeting tool, Top Trend SHOUTOUT."}

- content_for :title do
  .prepend-top
    .left
      %h1.inset-type
        %span.green #Top Trend
        SHOUTOUT&trade;

- content_for :content_body do
  .clear.box
    %p
      Do you regularly leverage social media top trends?  Perhaps you've been using this technique to
      %a{:href => root_url, :title => 'Increase twitter followers with Mashoutable'} increase Twitter followers
      or perhaps you've used it just for fun. Regardless of why you look to pivot your social media development efforts on top trends; rest assured Mashoutable™ has made it easy to "Click Construct" and #MASHOUT targeted messages with one of the best social media tools ever - The #Top Trend SHOUTOUT!
    %p
      %strong ABOUT THE TOP TREND SHOUTOUT & TARGET TWEETING
    %p
      You know what trends are and leveraging trends for one reason or another has become standard practice online and in the social media development efforts put forth by all.  Unfortunately, target tweeting can take a long time to go about researching, selecting, composing and executing various tweets.
    %p
      Mashoutable™ is here to help you
      %strong increase Twitter followers
      and enhance/amplify your social media development through a dynamic source of highly targetable top trend data. As we are providing it through our proprietary "Click Construct" process, you don't have to sacrifice the automation-like productivity while maintaining your individuality.  Now, you can confiscate massive amounts of time back for yourself, while leveraging Google, Twitter, and other
      %strong top trend
      authorities housed dynamically within the Mashoutable™ Cloud.
    %p
      Other Mashoutable social media tools we provide include:
      %a{:href => mashout_url, :title => 'Targeted mashout'} Targeted MASHOUT
      and
      %a{:href => blastout_url, :title => 'Video blastout'} Video BLASTOUT.
      %a{:href => contact_us_url, :title => 'Contact us'} Contact us
      for more information and check out our various
      %a{:href => root_url, :title => 'More about social media tools'}social media tools.
    %p
      %strong WHO SHOULD/COULD USE THIS TOOL:
    %p
      %em "Social media development and leveraging top trends is no phenomenon, it's no fad, it's effective that's why we do it..."
    %p
      %strong Power User:
      Top trends aren't new to you, but having them all housed in one of the best
      %strong social media tools
      is! Using top trends in your social media development efforts isn't new either, but using them in a single click is with Click Construct.  - #PowerUserBliss!
    %p
      %strong Celebrity/Big Brands:
      Show your fans that you are in-tune, up-to-date, and on top of things by adding any of the top trends from your country, state, city, genre or category. Now, you're just a click away from unquestionable quality interaction and communication.
    %p
      %strong Newbie:
      You could certainly
      = succeed "," do
        %strong increase Twitter followers
      Facebook fans, YouTube views, etc. What better way than to know what is trending, so that you're able to capitalize on that growing interest? Use our "Click Construct" process to ensure automation levels of productivity while maintaining individuality and leveraging the most up-to-date trend data streamed dynamically from the Web directly into your tool options.

    %p
      %strong ANYONE:
      The web is a rich and potent source of information being both provided and consumed.  With all of the content on the Web, staying up on what's trending and when can seem an impossible task. We've taken the time to consolidate all of this data, and then dynamically update the data live as it's provided to you.  With a simple click, you can now leverage that data through targeted and media-rich ways.  The best social media tools for developing your image, brand, product, service and personality are now at your fingertips! #Top Trend SHOUTOUT now!

