#social-iframe.span-6{:style => 'text-align:center'}
  #navigation-social
    %font{:style => "font-size:22px;"}
      Would you like to:
    #social-media.span-6
      %a{:href => twitter_auth_url}
        %span#navigation-sign-in-twitter.left.clear
      %span.span-6.left.clear{:style => "font-size:22px; padding-bottom:10px;"}
        or
      %br/
      %a{:href => facebook_auth_url}
        %span#navigation-sign-in-facebook.left.clear