- content_for :title do
  .prepend-top
    .left
      %h1.inset-type Terms and Conditions

- content_for :content_body do
  .left.box#terms
    %h2 Your Consent
    %p
      By using our site, you consent to our online 
      %a{:href => privacy_policy_url, :title => 'Mashoutable Privacy Policy'} privacy policy.

    %h2 Changes to our Privacy Policy
    %p
      We may update the privacy statement to reflect changes to our information practices. If we make any material changes we will notify you by email (sent to the e-mail address specified in your account) or by means of a notice on this Site prior to the change becoming effective. We encourage you to periodically review this page for the latest information on our privacy practices.

    %p
      This policy was last modified on 10/20/2011

    %h2 Contacting Us
    %p
      If there are any questions regarding these terms and conditions you may contact us using the information below. 
      %br/
      %br/
      Mashoutable, Inc.
      %br/
      113 Barksdale Professional Center
      %br/
      Newark, DE 19711
      %br/
      privacy@mashoutable.com

